// Import app variables
@import 'app-variables';

// Import the theme’s main ruleset - both index and platform specific.
@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';

// Import common styles
@import 'app-common';

// Place any CSS rules you want to apply only on Android here
ActionBar .fa {
    padding: 40px;
}

.far {
    font-family: "fa-regular-400", fa-regular-400;
    font-weight: 400;
}

.fab {
    font-family: "fa-brands-400", fa-brands-400;
    font-weight: 400;
}

.fas {
    font-family: "fa-solid-900", fa-solid-900;
    font-weight: 900;
}
