<ActionBar class="action-bar primary">
    <Label class="action-bar-title" text="{{projectDetail.project_name}}" class="text-uppercase text-2xl"></Label>
</ActionBar>

<GridLayout rows="*, 100">
    <ScrollView>
        <GridLayout rows="175,*, *">
            <StackLayout borderBottomWidth="1" borderBottomColor="gray" row="0">
                <Image src="{{CDN_URL}}{{projectDetail.cloudinary_publicid}}" class="m-4" ></Image>
            </StackLayout>
            <!--revenue money section-->
            <FlexboxLayout flexDirection="row" justifyContent="space-between" class="m-y-16 m-x-12" row="1"
                           borderBottomWidth="1" borderBottomColor="gray">
                <StackLayout orientation="vertical" horizontalAlignment="center">
                    <Label class="text-2xl p-b-4 font-weight-bold" text="Purchase: {{projectDetail.purchase_price | currency}} "></Label>
                    <Label class="text-2xl p-b-4 font-weight-bold" text="Expenses: {{projectDetail.total_expenses | currency}}" ></Label>
                    <Label class="text-2xl p-b-4 font-weight-bold" text="Est. Sale: {{projectDetail.sale_price | currency}}"></Label>
                    <Label class="text-2xl p-b-4 font-weight-bold" text="Est. Profit: {{projectDetail.net_profit | currency}}"></Label>
                </StackLayout>
            </FlexboxLayout>
            <!--information section-->
            <FlexboxLayout flexDirection="row" justifyContent="space-between" row="2" class="m-y-16 m-x-12" borderBottomWidth="1" borderBottomColor="gray">
                <StackLayout orientation="vertical" horizontalAlignment="center">
                    <Label text="# of Rooms: {{projectSummary.room_count}}" class="text-2xl p-b-4 font-weight-bold"></Label>
                    <Label text="Total SqFt: {{projectSummary.total_sqft}}" class="text-2xl p-b-4 font-weight-bold"></Label>
                    <Label text="# of Expense Entries: {{projectSummary.expense_count}}" class="text-2xl p-b-4 font-weight-bold"></Label>
                    <Label text="# of Tasks: {{projectSummary.task_count}}" class="text-2xl p-b-4 font-weight-bold"></Label>
                </StackLayout>
            </FlexboxLayout>
        </GridLayout>
    </ScrollView>
    <!--bottom navigation buttons-->
    <FlexboxLayout flexDirection="row" justifyContent="space-between" row="1">
        <StackLayout orientation="vertical" horizontalAlignment="center">
            <Label text="add room" class="p-b-4 text-center"></Label>
            <Button shadow="15" textWrap="true" width="65" height="65" class=" bg-blue round-btn text-2xl  good-btn">
                <FormattedString>
                    <Span text="&#xf236;" class="fas text-3xl"></Span>
                </FormattedString>
            </Button>
        </StackLayout>

        <StackLayout orientation="vertical" horizontalAlignment="center">
            <Label text="add expense" class="p-b-4 text-center"></Label>
            <Button shadow="15" textWrap="true" width="65" height="65" class="round-btn bg-green text-2xl  good-btn">
                <FormattedString>
                    <Span text="&#xf3d1;" class="far text-3xl"></Span>
                </FormattedString>
            </Button>
        </StackLayout>

        <StackLayout orientation="vertical" horizontalAlignment="center">
            <Label text="add task" class="p-b-4 text-center"></Label>
            <Button shadow="15" textWrap="true" width="65" height="65" class="round-btn bg-yellow text-2xl  good-btn">
                <FormattedString>
                    <Span text="&#xf0ae;" class="fas text-3xl"></Span>
                </FormattedString>
            </Button>
        </StackLayout>
    </FlexboxLayout>


</GridLayout>

